  /* for logo  */
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  /* font-family: 'Pacifico', cursive; */

  /* for text  */
  /* ======Common css======== */
  p {
    font-size: 16px;
  }

  a {
    font-size: 14px;
    color: black;
    text-decoration: none;
  }

  /* btn css  */
  .common-btn .btn {
    background-image: linear-gradient(135deg, #FDD819 10%, #E80505 100%);
  }

  .common-btn .btn:hover {
    background-image: linear-gradient(135deg, #FFF720 10%, #3CD500 100%);
    color: black;
  }



  /* ======Common css end======== */

  /* ================= */
  /* .navbar-brand {
    color: orangered;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
  } */

  .navbar-collapse .nav-item .nav-link:hover {
    color: orangered;

  }


  .navbar-nav .nav-link {
    color: black;


  }

  .navbar-nav .nav-link:hover {
    color: orangered;

  }

  /* slider  */
  .carousel-item img {
    margin-top: 10px;
    float: right;
  }

  .carousel-inner .slider-1 {
    background-color: #FEFDFD;
  }

  .carousel-inner .slider-2 {
    background-color: #E6F5FF;
  }

  .carousel-inner .slider-3 {
    background-color: #1E1842;
  }

  .carousel-inner .slider-text-1,
  .carousel-inner .slider-text-2,
  .carousel-inner .slider-text-3,
  .carousel-inner .slider-text-4,
  .carousel-inner .slider-text-5,
  .carousel-inner .slider-text-6 {

    padding-top: 180px;
  }

  .carousel-inner .slider-text-3 h3,
  .carousel-inner .slider-text-3 h1,
  .carousel-inner .slider-text-3 p {
    color: white;
  }

  .carousel-inner .slider-4 {
    background-color: #98EAE0;
  }

  .carousel-inner .slider-4 img {}

  .carousel-inner .slider-5 {
    background-color: ;
  }

  .carousel-item h1,
  .carousel-item h3,
  .carousel-item p {
    color: black;
  }

  .carousel-item img {
    height: 500px;
  }

  @media only screen and (max-width: 1480px) {
    .carousel-item img {
      width: 700px;
      margin-left: auto;
      margin-right: auto;


    }

    .carousel-inner .slider-text-1,
    .carousel-inner .slider-text-2,
    .carousel-inner .slider-text-3,
    .carousel-inner .slider-text-4,
    .carousel-inner .slider-text-5,
    .carousel-inner .slider-text-6 {

      text-align: center;
    }

  }

  @media only screen and (max-width: 1179px) {
    .carousel-item img {
      /* height: 300px; */
      margin-left: auto;
      margin-right: auto;


    }

    .carousel-inner .slider-text-1,
    .carousel-inner .slider-text-2,
    .carousel-inner .slider-text-3,
    .carousel-inner .slider-text-4,
    .carousel-inner .slider-text-5,
    .carousel-inner .slider-text-6 {
      margin-top: -50px;
      text-align: center;
    }

  }

  @media only screen and (max-width: 1075px) {
    .carousel-item img {
      width: 550px;
      margin-left: auto;
      margin-right: auto;


    }

    .carousel-inner .slider-text-1,
    .carousel-inner .slider-text-2,
    .carousel-inner .slider-text-3,
    .carousel-inner .slider-text-4,
    .carousel-inner .slider-text-5,
    .carousel-inner .slider-text-6 {

      text-align: center;
    }

  }

  @media only screen and (max-width: 760px) {
    .carousel-item img {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    .carousel-inner .slider-text-1,
    .carousel-inner .slider-text-2,
    .carousel-inner .slider-text-3,
    .carousel-inner .slider-text-4,
    .carousel-inner .slider-text-5,
    .carousel-inner .slider-text-6 {

      text-align: center;
    }
  }


  @media only screen and (max-width: 577px) {
    .carousel-item img {
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .carousel-inner .slider-text-1,
    .carousel-inner .slider-text-2,
    .carousel-inner .slider-text-3,
    .carousel-inner .slider-text-4,
    .carousel-inner .slider-text-5,
    .carousel-inner .slider-text-6 {

      text-align: center;
    }
  }

  /* <!-- Course card --> */
  .course-card .card {
    border: 1px solid #eb5d1e;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    text-align: center;
    border-bottom: 3px solid #eb5d1e;
    background-image: linear-gradient(102.4deg, rgba(253, 189, 85, 1) 7.8%, rgba(249, 131, 255, 1) 100.3%);

  }

  .course-card .card:hover {
    transform: translateY(-5px);
    border-bottom: 2px solid #eb5d1e;
    border-right: 2px solid #eb5d1e;
    border-left: 2px solid green;
    border-top: 2px solid green;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .course-card .card {
    color: white;

  }

  .course-card .card-text a {
    color: white;
    font-weight: bold;

  }

  .course-card .card-text a:hover {
    color: orangered;
  }

  .course-card .card-text p {
    line-height: .5;
  }

  .contact-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 50px;

  }


  /* about us  */

  #about {
    background-image: linear-gradient(109.6deg, rgba(254, 253, 205, 1) 11.2%, rgba(163, 230, 255, 1) 91.1%);
  }

  .about-img img {
    border-radius: 0 30px 0 30px;
  }

  .message-director img {
    width: 600px;
    margin-left: auto;
    margin-right: auto;


  }

  /* join-insititute */
  .join-insititute {
    background-image: url('../image/slider1 (3).jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;

  }

  .join-insititute .text-light {
    padding: 50px;
  }





  /* student section */
  .grid-container {

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: auto;
    margin-right: auto;

    gap: 30px;

  }

  .grid-container img {
    width: 200px;
  }



  /* student section */

  .students .card img {

    height: 200px;
  }

  .students .card h4 {

    font-size: 20px;
  }

  @media only screen and (max-width: 577px) {
    .students .card {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .students .card img {

      height: 300px;
    }
  }

  #more {
    display: none;
  }

  .view-more-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 50px;

  }


  /*end gallery section 
========================= */






  /* testimonial  */
  .testimonial {
    background-image: linear-gradient(109.6deg, rgba(254, 253, 205, 1) 11.2%, rgba(163, 230, 255, 1) 91.1%);
  }



  /* footer-section */

  .social-media i:hover {
    font-size: 20px;

  }

  .footer-logo img {
    border-radius: 87px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }


  .footer-links a {
    color: white;
  }

  .footer-links a:hover {
    color: orangered;
    font-size: 16px;

  }